html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.ch-manager {
  
}

.ch-container {
  position: relative;
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-color: #000000;
  cursor: none;
}

.ch-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.ch-background img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: blur(45px);
}

.ch-image{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.ch-image img{
  border: 8px solid #523c38;
  box-sizing:content-box;
  max-width: 100%;
  max-height: 100%;
  object-fit:contain;
}

.ch-status{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2em;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
  color: white;
  text-shadow: #000000 2px 2px 4px;
}

.paused .ch-controls{
  position: absolute;
  cursor: default;
  display: flex;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 20%;
  background-color: #00000066;
  z-index: 3;
  align-items: center;
  justify-content: center;
  gap: 4%;
}

.ch-button {
  height: 80%;
  aspect-ratio: 1;
  background-color: #FFFFFF66;
  border: 0px;
  border-radius: 5%;
}