@page
@model IndexModel
@{
    ViewData["Title"] = "Cherished";
}

<div id="main" class="ch-container">
    <div class="ch-background"></div>
    <div class="ch-image"><img /></div>
    <div class="ch-status"></div>
</div>
