@page
@model IndexModel
@{
    ViewData["Title"] = "Cherished";
}

<div id="main" class="ch-container">
    <div class="ch-background"><img /></div>
    <div class="ch-image"><img /></div>
    <div class="ch-status"></div>
    <div class="ch-controls">
        <button class="ch-button ch-button-prev" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" height="80%" fill="#444444" viewBox="0 0 512 512">
            <path
                d="M 258 80 Q 253 80 250 83 L 19 250 L 19 250 Q 16 252 16 256 Q 16 260 19 263 L 250 429 L 250 429 Q 253 432 258 432 Q 271 431 272 418 L 272 94 L 272 94 Q 271 81 258 80 L 258 80 Z M 258 64 Q 271 64 279 73 L 279 73 L 279 73 Q 288 81 288 94 L 288 197 L 288 197 L 464 70 L 464 70 Q 472 64 482 64 Q 495 64 503 73 Q 512 81 512 94 L 512 418 L 512 418 Q 512 431 503 439 Q 495 448 482 448 Q 472 448 464 442 L 288 315 L 288 315 L 288 418 L 288 418 Q 288 431 279 439 Q 271 448 258 448 Q 248 448 240 442 L 10 275 L 10 275 Q 0 268 0 256 Q 0 244 10 237 L 240 70 L 240 70 Q 248 64 258 64 L 258 64 Z M 288 295 L 474 429 L 288 295 L 474 429 Q 477 432 482 432 Q 495 431 496 418 L 496 94 L 496 94 Q 495 81 482 80 Q 477 80 474 83 L 288 217 L 288 217 L 288 295 L 288 295 Z"
            />
            </svg>
        </button>
        <button class="ch-button ch-button-next" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" height="80%" fill="#444444" viewBox="0 0 512 512">
            <path
                d="M 254 80 Q 259 80 262 83 L 493 250 L 493 250 Q 496 252 496 256 Q 496 260 493 263 L 262 429 L 262 429 Q 259 432 254 432 Q 241 431 240 418 L 240 94 L 240 94 Q 241 81 254 80 L 254 80 Z M 254 64 Q 241 64 233 73 L 233 73 L 233 73 Q 224 81 224 94 L 224 197 L 224 197 L 48 70 L 48 70 Q 40 64 30 64 Q 17 64 9 73 Q 0 81 0 94 L 0 418 L 0 418 Q 0 431 9 439 Q 17 448 30 448 Q 40 448 48 442 L 224 315 L 224 315 L 224 418 L 224 418 Q 224 431 233 439 Q 241 448 254 448 Q 264 448 272 442 L 502 275 L 502 275 Q 512 268 512 256 Q 512 244 502 237 L 272 70 L 272 70 Q 264 64 254 64 L 254 64 Z M 224 295 L 38 429 L 224 295 L 38 429 Q 35 432 30 432 Q 17 431 16 418 L 16 94 L 16 94 Q 17 81 30 80 Q 35 80 38 83 L 224 217 L 224 217 L 224 295 L 224 295 Z"
            />
            </svg>
        </button>
        <button class="ch-button ch-button-hide" type="button">
            <svg height="80%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<g id="SVGRepo_bgCarrier" stroke-width="0"></g>
				<g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
				<g id="SVGRepo_iconCarrier"> 
					<path d="M14.83 9.17999C14.2706 8.61995 13.5576 8.23846 12.7813 8.08386C12.0049 7.92926 11.2002 8.00851 10.4689 8.31152C9.73758 8.61453 9.11264 9.12769 8.67316 9.78607C8.23367 10.4444 7.99938 11.2184 8 12.01C7.99916 13.0663 8.41619 14.08 9.16004 14.83" stroke="#444444" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path> 
					<path d="M12 16.01C13.0609 16.01 14.0783 15.5886 14.8284 14.8384C15.5786 14.0883 16 13.0709 16 12.01" stroke="#444444" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path> 
					<path d="M17.61 6.39004L6.38 17.62C4.6208 15.9966 3.14099 14.0944 2 11.99C6.71 3.76002 12.44 1.89004 17.61 6.39004Z" stroke="#444444" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path> 
					<path d="M20.9994 3L17.6094 6.39" stroke="#444444" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path> 
					<path d="M6.38 17.62L3 21" stroke="#444444" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path> 
					<path d="M19.5695 8.42999C20.4801 9.55186 21.2931 10.7496 21.9995 12.01C17.9995 19.01 13.2695 21.4 8.76953 19.23" stroke="#444444" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path> 
				</g>
			</svg>
        </button>
		<button class="ch-button ch-button-flag" type="button">
            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 22V14M5 14V4M5 14L7.47067 13.5059C9.1212 13.1758 10.8321 13.3328 12.3949 13.958C14.0885 14.6354 15.9524 14.7619 17.722 14.3195L17.8221 14.2945C18.4082 14.148 18.6861 13.4769 18.3753 12.9589L16.8147 10.3578C16.4732 9.78863 16.3024 9.50405 16.2619 9.19451C16.2451 9.06539 16.2451 8.93461 16.2619 8.80549C16.3024 8.49595 16.4732 8.21137 16.8147 7.64221L18.0932 5.51132C18.4278 4.9536 17.9211 4.26972 17.2901 4.42746C15.8013 4.79967 14.2331 4.69323 12.8082 4.12329L12.3949 3.95797C10.8321 3.33284 9.1212 3.17576 7.47067 3.50587L5 4M5 4V2" stroke="#444444" stroke-width="1" stroke-linecap="round"/>
            </svg>
        </button>
    </div>
</div>
